:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--text-white-color: #ffffff;
	--contacts-footer-color: rgba(255, 255, 255, 0.6);
	--background-color: #2f303a;
	--background-color-main: #e5e5e5;
	--background-color-button: #f5f4fa;
	--social-icons-color: #afb1b8;
	--background-color-work: rgba(47, 48, 58, 0.8);
	--animation: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
	background: var(--text-white-color);
	color: var(--primery-text-color);
	margin: 0;
	letter-spacing: 0.03em;
	font-family: "Roboto", sans-serif;
}

/* all lists*/

.list,
.work-list,
.preferences-list,
.list-team,
.site-nav,
.button-list,
.portfolio-list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* logo */

.logo-header {
	color: var(--title-text-color);
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.03em;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
}

.logo-style {
	color: var(--accent-color);
	padding-top: 25px;
	padding-bottom: 25px;
	color: var(--black);
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
/*Site nav*/

.main-nav {
	display: flex;
	align-items: center;
}
.site-nav {
	display: flex;
	margin-left: 93px;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
	transition: color 250ms var(--animation);
}

.site-nav .link.line:hover,
.site-nav .link.line:focus,
.site-nav .link.line {
	color: var(--accent-color);
}

.site-nav .link {
	position: relative;
	content: "";
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--title-text-color);
	font-weight: 500;
	transition: color 250ms var(--animation);
}

.line::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
	opacity: 0.7;
	transition: opacity 250ms var(--animation);
}

.site-nav:hover::after .link.line {
	opacity: 1;
}

.contact .list {
	display: flex;
}

.list,
.work-list,
.list-team,
.preferences-list,
.social-list {
	display: flex;
	margin-left: auto;
}

.contacts .item + .item {
	margin-left: 50px;
}
.contacts .link {
	color: var(--primery-text-color);
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	display: flex;
}

.contacts .link:hover,
.contacts .link:focus {
	color: var(--accent-color);
}

/* Icons contacts */

.link {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 6px 0;
	transition: color 250ms var(--animation);
}

.link:hover.contacs-icon {
	color: var(--accent-color);
	fill: var(--accent-color);
}
.contacts-icon {
	display: flex;
	align-items: stretch;
	margin-right: 10px;
	fill: var(--primery-text-color);
	transition: fill 250ms var(--animation);
}

.contacts .link:hover .svg {
	fill: var(--accent-color);
	color: var(--accent-color);
}
a:hover svg {
	fill: var(--accent-color);
}

/* hero */

.hero {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero.jpg");
	background-size: cover;
	background-position: center;
}

.hero-title {
	color: var(--text-white-color);
	text-transform: uppercase;
	padding-bottom: 30px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero {
	background-color: var(--background-color);
	font-style: normal;
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	padding-top: 200px;
	padding-bottom: 200px;
}
/* button */
.button {
	color: var(--text-white-color);
	background-color: var(--accent-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	min-width: 200px;
	padding: 10px 32px;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	border: 1px solid transparent;
}

/* Preferences section */

.section-preferences {
	padding-top: 94px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.preferences-list > .item-preferences {
	margin-right: 30px;
	width: calc((100% - 30px * 3) / 4);
}

.preferences-list .item-preferences:last-child {
	margin-right: 0;
}

.section-title {
	color: var(--title-text-color);
	text-transform: uppercase;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: left;
}

.text {
	max-width: 270px;
	text-align: left;
}

/* icons Preferences */

.item-preferences:before {
	display: block;
	content: "";
	height: 120px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	background-color: var(--background-color-button);
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 30px;
	justify-content: center;
}

.icon-satellite:before {
	background-image: url("../image/antenna.svg");
}
.icon-clock:before {
	background-image: url("../image/clock.svg");
}
.icon-plan::before {
	background-image: url("../image/diagram.svg");
}
.icon-technology::before {
	background-image: url("../image/astronaut.svg");
}
/* What are we doing */

.section-work {
	padding-top: 94px;
	padding-bottom: 94px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

.work-list {
	display: flex;
	padding-left: 0;
	padding-right: 0;
}

.work-list .item {
	width: calc((100% - 30px * 2) / 3);
	margin-right: 30px;
}
.work-list .item:last-child {
	margin-right: 0;
}

.title-main {
	color: #212121;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 0;
	padding-bottom: 50px;
}

.work-text {
	position: absolute;
	content: "";
	width: 100%;
	height: 70px;
	background: var(--background-color-work);

	padding-top: 27px;
	left: 0;
	bottom: 0;
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1em;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-white-color);
}
.container-overlay {
	position: relative;
}

/* TEAM */

.section-team {
	background-color: var(--background-color-button);
	color: var(--primery-text-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	padding-top: 94px;
	padding-bottom: 94px;
}

.list-team .item {
	width: calc((100% - 30px * 3) / 4);
	margin-right: 30px;
	background: #ffffff;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.list-team .item:last-child {
	margin-right: 0;
}

.team-text {
	padding-bottom: 20px;
}

.team-name,
.section-team {
	text-align: center;
}

.team-name {
	color: var(--title-text-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* ICONS */

.social-icon-list {
	display: flex;
	list-style: none;
	margin-bottom: 30px;
	justify-content: center;
	padding: 0;
}

.social-icon {
	width: 20px;
	height: 20px;
	fill: var(--social-icons-color);
	transition: fill 250ms var(--animation);
	/* fill: var(--social-icons-color); */
}

.social-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: var(--text-white-color);
	border-radius: 50%;
	background-color: var(--text-white-color);
	transition: background-color 250ms var(--animation);
}

.social-icon-link:hover .social-icon {
	fill: var(--text-white-color);
}

.social-icon-link:hover {
	background-color: var(--accent-color);
}

.social-icon-item:not(:last-child) {
	margin-right: 10px;
}

/* Clients icons */

.section-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.clients-container h2 {
	margin-top: 0px;
	margin-bottom: 50px;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--title-text-color);
}
.clients-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	fill: var(--social-icons-color);
	border: 1px solid var(--social-icons-color);
	border-radius: 4px;
	transition: background-color 250ms var(--animation);
}

.clients-item:not(:last-child) {
	margin-right: 30px;
}

.clients-item {
	width: calc((100% - 30px * 5) / 6);
}

.clients-icon {
	transition: fill 250ms var(--animation);
}
.clients-link:hover .clients-icon {
	fill: var(--accent-color);
}

.clients-link:hover {
	border: 1px solid var(--accent-color);
}

/* footer */

.footer {
	background-color: var(--background-color);
}
.address-items {
	margin-top: 20px;
}
.address-info {
	color: var(--text-white-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
.nav-item {
	color: var(--contacts-footer-color);
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	margin-top: 9px;
}
.nav-item:hover {
	color: var(--accent-color);
}

.logo-style {
	color: var(--accent-color);
	margin-top: 60px;
}
.logo-over {
	color: var(--text-white-color);
	text-decoration: none;
	font-family: Raleway, sans-serif;
	letter-spacing: 0.03em;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
}

/* footer icons   */

.footer-icons {
	margin-top: 12px;

	width: 207px;
	height: 80px;
	align-items: center;
	margin-right: 93px;
}

.social-text {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-white-color);
	margin-bottom: 20px;
}

.footer-icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition: background-color 250ms var(--animation);
}

.footer-icon-link:hover .social-icon {
	fill: var(--text-white-color);
}

.footer-icon-link:hover {
	background-color: var(--accent-color);
}

.social-icon-item:not(:last-child) {
	margin-right: 10px;
}

.footer-info {
	margin-right: 70px;
}

.container-footer {
	display: flex;
	width: 1200px;
	padding: 60px 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Portfolio */

.body {
	color: var(--title-text-color);
	background-color: var(--background-color-main);
}

.section-portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*Buttons portfolio */

.button-list {
	display: flex;
	color: var(--title-text-color);
	font-family: Roboto;
	font-style: 400;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 34px;
	letter-spacing: 0.03em;
	/* margin-bottom: 34px; */
	justify-content: center;
	text-decoration: none;
}

.button-item {
	/* width: calc(( 100% - 30px *4) / 5); */

	padding: 6px 22px;
	min-width: 73px;
	margin-right: 8px;
	border-radius: 4px;
	justify-content: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	border: 1px solid transparent;
	background-color: var(--background-color-button);
	color: var(--title-text-color);
	transition: color 250ms var(--animation), box-shadow 250ms var(--animation), background-color 250ms var(--animation);
}

.button-item:last-child {
	margin-right: 0;
}

.button-list :focus,
.button-list :hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: var(--text-white-color);
	background-color: var(--accent-color);
}

/* Projects portfolio */

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
}
.portfolio-item {
	width: calc((100% - 30px * 2) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.portfolio-item:hover {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio-item:nth-child(3n) {
	margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.portfolio-title {
	color: var(--title-text-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	/* margin-left: 24px;
	margin-right: 24px;
	margin-top: 20px; */
}
.portfolio-text {
	padding: 20px 24px;
}

/* Overlay */

.overlay-text {
	position: absolute;
	width: 100%;

	height: 100%;
	padding: 63px 24px;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--text-white-color);
	opacity: 1;
	transform: translateY(100%);

	background: rgba(33, 150, 243, 0.9);

	transition: transform 250ms var(--animation);
	overflow: hidden;
}

.portfolio-image {
	position: relative;
	overflow: hidden;
}

.portfolio-item:hover .overlay-text {
	opacity: 1;
	transform: translateY(-100%);
}

/* block */
.container {
	width: 1200px;
	padding: 0 15px;
	margin: auto auto;
}

/* Modal */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	transition: 250ms var(--animation);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	min-height: 581px;
	width: 528px;

	background: var(--text-white-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 250ms var(--animation);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal-btn {
	display: inline-flex;
	position: absolute;
	content: "";
	background-color: var(--text-white-color);

	background-size: 11px;
	background-position: center;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	right: 8px;
	top: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	outline: none;
}

.modal-btn:hover,
.modal-btn:focus {
	fill: var(--accent-color);
}

.close {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11px;
	height: 11px;
	transition: fill 250ms var(--animation);
}

/* FORM */

.form {
	display: flex;
	flex-direction: column;
	width: 448px;
	margin: auto;
}
.form-title {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: #212121;
}

.input-title {
	font-style: normal;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	margin-bottom: 4px;
	color: var(--primery-text-color);
}

.form-field {
	width: 100%;
	height: 39px;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
	position: absolute;

	left: 55px;
	transform: translateY(10px);

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
	height: 40px;
	padding: 12px 40px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	margin-bottom: 10px;
}

.form-comment {
	width: 100%;
	padding: 12px 16px;
	margin: auto;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
	fill: var(--accent-color);
}

.form-input:not(:placeholder-shown) {
	border-color: var(--accent-color);
}

.form-field input:focus {
	border-color: var(--accent-color);
	outline: none;
}

.form-field textarea:focus {
	border-color: var(--accent-color);
	outline: none;
}
.checkbox-label {
	display: inline-block;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.form-text {
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0, 03em;
	text-align: left;
}

.checkbox-label .icon-check {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .icon-check {
	background-color: var(--accent-color);
	background-image: url(../image/iconcheck.svg);
	background-origin: border-box;
	background-size: contain;
	background-origin: border-box;
	border-color: var(--accent-color);
}

.checkbox {
	appearance: none;
	position: absolute;
}
.form-btn {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 56px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--text-white-color);
	background-color: var(--accent-color);
}

/* submit-form */

.subscription-container {
	width: 570px;
	height: 80px;
}

.form-subs {
	display: flex;
	align-items: flex-end;
}

.input-subs:hover {
	border: 1px solid #fff;
}

.text-subs {
	margin-top: 0;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}

.input-subs {
	width: 358px;
	height: 50px;
	outline: none;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
	font-size: 16px;
	color: var(--text-white-color);
	margin-top: 20px;
}

.btn-subs {
	display: inline-flex;
	align-items: center;
	padding-left: 28px;
	padding-right: 28px;
	margin-left: 12px;
	height: 50px;
	padding: 10px 29px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	/* line-height: 1.88; */
	letter-spacing: 0.06em;
	color: var(--text-white-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 4px;
	padding: 10px 32px;

	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	font-weight: 700;
	background-repeat: no-repeat;

	transition-duration: 250ms var(--animation);
}

.form-subs input:focus {
	border-color: var(--text-white-color);
	outline: none;
}

.label-subs {
	padding: 0;
}

.icon-send {
	fill: var(--text-white-color);
	transition-duration: 250ms var(--animation);
}

.sub-txt {
	margin-right: 10px;
}
